%h2.mbs New Customer
%br/
= form_tag new_customer_path, id: "checkout-form" do
  - if current_user and !current_user.has_payment_info?
    = render 'subs_form' unless current_user.is_anonymous?
  %br/
  %p
    = t(:donation_info)
  %div{:id => "payment-form" }
  %div{:id => "coinbase-container-id" }
  %input{:name => "amount", :placeholder => "Enter amount", :type => "text"}
  %input.btn.btn-primary{:type => "submit", :value => "Donate"}
%script{:src => "https://js.braintreegateway.com/v2/braintree.js"}
:javascript
  var clientToken = "#{@client_token}";
  braintree.setup(clientToken, "dropin", {
    container: "payment-form",
    form: "checkout-form",
    coinbase: { container: "coinbase-container-id" }
  });
