# Ignore bundler config
/.bundle
bin

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
*~
/pkg
/*/pkg
/log
.*.swp
*/Gemfile.lock
test/dummy/log/*
test/dummy/tmp/*
*.pyc

# ignore the disabled customization directories that
# i keep around for testing purposes.
config/customization.*
!config/customization.example

# ignore all deploy specific configuration
config/couchdb.yml
config/couchdb.admin.yml
public/assets/*
public/ca.crt
public/config/*
public/provider.json
config/config.yml
public/1/*
vendor/bundle/*
public/img
config/couchdb.yml.*
config/provider/*
config/customization/*
config/transifex.netrc
!config/provider/.gitkeep
!config/customization/.gitkeep
