%h1 Payment Info Confirmation
%p Your payment information was successfully saved.
%dl
  %dt First Name
  %dd= @result.customer.first_name
  %dt Last Name
  %dd= @result.customer.last_name
  %dt Phone
  %dd= @result.customer.phone
  %dt Credit Card
  - @result.customer.credit_cards.each do |cc|
    %dd= cc.masked_number