%h1
  - if @subscription.status == 'Active'
    Current
  Subscription
= render :partial => "subscription_details",  :locals => {:subscription => @subscription}
- if allow_cancel_subscription(@subscription)
  = btn :cancel_subscription, user_subscription_path(@user, @subscription.id),  :confirm => t(:are_you_sure), :method => :delete, :type => 'danger' 
