%h1
  - if @subscription.status == 'Active'
    Current
  Subscription
= render :partial => "subscription_details",  :locals => {:subscription => @subscription}
= link_to t(:cancel_subscription), user_subscription_path(@user, @subscription.id),  :confirm => t(:are_you_sure), :method => :delete, :class => 'btn btn-danger' if allow_cancel_subscription(@subscription)
