= render 'overview'
.container-fluid
  .row-fluid
    %h4 To use bitmask services:
    = link_to client_download_url, class: "btn btn-primary" do
      %i.icon-arrow-down.icon-white
      = t(:download_bitmask)
