.col-md-9
  .row
    %h1= t(:welcome, :provider => APP_CONFIG[:domain])
    .p=t(:welcome_message_html)

  .row
    = home_page_buttons

    - if Rails.env == 'development'
      .row
        %hr
        %p
          = link_to "make donation", new_payment_path if APP_CONFIG[:payment].present?

.col-md-3
  .row
    = render 'twitter/index'
