.row-fluid
  %h1= t(:welcome, :provider => APP_CONFIG[:domain])
  %p We provide secure communication services, including encrypted internet, email (coming soon), and chat (coming later).

.row-fluid
  = home_page_buttons

  - if Rails.env == 'development'
    .row-fluid
      %hr
      %p
        = link_to "make donation", new_payment_path if APP_CONFIG[:payment].present?
