%h1 spacer for firefox
%h1 spacer for firefox

Try to fetch a 
= link_to "cert", cert_path

%p 
Create a 
= link_to "ticket", new_ticket_path

- if logged_in?
  %p
  See all 
  = link_to "tickets", tickets_path
