#wrap
  = render 'home/masthead'
  #main
    .container-fluid
      = render 'home/content'
  #push
    -# #push is used for sticky footer in bootstrap 2. remove when upgrading to bootstrap 3
#footer
  = render 'layouts/footer'