.row-fluid
  .span8
    = render 'home_text'
  .span4
    = render '/login_or_signup'

- if Rails.env == 'development'
  .row-fluid
    %hr
    %p
      Try to fetch a
      = link_to "cert", cert_path

    %p
      Create a
      = link_to "ticket", new_ticket_path
