-#
-# SORT ORDER TABS
-#
- unless action?(:new) or action?(:create)
  %ul.nav.nav-pills.pull-right.slim
    - %w(created updated).each do |order|
      = link_to_order(order)

-#
-# STATUS FILTER TABS
-#
%ul.nav.nav-tabs
  - if logged_in?
    - %w(open closed all).each do |status|
      = link_to_status status
  = link_to_navigation ".new", auto_new_ticket_path,
    active: action?(:new) || action?(:create),
    icon: :plus
