- @show_navigation = params[:user_id].present?

.ticket
  = render 'tickets/edit_form'
  %table.table.table-striped.table-bordered
    %tbody
      = render :partial => 'tickets/comment', :collection => @ticket.comments
      %tr
        %td.user
          = current_user.login || t(:anonymous)
        %td.comment
          = render 'tickets/new_comment_form'
