.span6
  %ul.unstyled
    - @user.email_aliases.each do |email_alias|
      %li.pull-right
        %code= email_alias.email
        %i.icon-remove
      .clearfix
.clearfix
= f.simple_fields_for :email_aliases, EmailAlias.new do |e|
  = e.input :email, :placeholder => "alias@#{request.domain}"
