= f.input :login, :input_html => { :id => :srp_username }
= f.input :password, :required => true, :validate => true, :input_html => { :id => :srp_password }
= f.input :password_confirmation, :hint => t(:can_retype_old_password), :required => true, :input_html => { :id => :srp_password_confirmation }