%tr
  %td= user.login
  %td= time_ago_in_words(user.created_at) + " ago"
  %td
    = link_to edit_user_path(user), :class => "btn btn-mini btn-primary" do
      %i.icon-edit.icon-white
      Edit
    = link_to user_path(user), :method => :delete, :class => "btn btn-danger btn-mini" do
      %i.icon-remove.icon-white
      Remove
