- @show_navigation = false

= form_tag users_path, :method => :get, :class => "form-search" do
  .input-append
    = text_field_tag :query, "", :class => "user typeahead span2 search-query", :autocomplete => :off
    %button.btn{:type => :submit} Search

%table.table.table-hover
  %tr
    %th Login
    %th Created
    %th Action
  = render @users.all

