.hero-unit
  %h1 Page not found.
  %h2 The page you were looking for doesn't exist.
  %p.lead You may have mistyped the address or the page may have moved.
  %a.btn.btn-primary.btn-large{href:'/'}
    %i.icon-home.icon-white
    Home
