.hero-unit
  %h1=t 'errors.title.page_not_found'
  %h2=t 'errors.subtitle.page_not_found', default: ''
  %p.lead=t 'errors.text.page_not_found', default: ''
  %a.btn.btn-primary.btn-large{href:'/'}
    =icon :home
    =t :home
