- if @result.success?
  %h1
    Subscription Status 
    = @result.subscription.status
  = render :partial => "subscription_details", :locals => {:subscription => @result.subscription}
- else
  %h1
    Error:
    = @result.message 