%h2=t :all_subscriptions
- active = false
- @subscriptions.each do |s|
  - if s.status == 'Active'
    - active = true
  = render :partial => "subscription_details", :locals => {:subscription => s}
- if !active and @user == current_user
  = link_to 'subscribe to plan', new_subscription_path, :class => :btn