/ check if necessary
%h2=t :transaction_history
- if (@transactions.count == 0)
  = t(:no_transaction_history)
- @transactions.each do |t|
  = render :partial => "transaction_details", :locals => {:transaction => t}
