//
// import custom scss, content to be set in deployment.
//
@import "tail";

// First import journal variables
@import "bootswatch/cerulean/variables";

//
// import bootstrap.
//
@import "bootstrap";
body {
  padding: 40px;
}
@import "bootstrap-responsive";
table.table-hover .btn {
  opacity: 0;
}
table.table-hover tr:hover .btn {
  opacity: 1;
}
@import "bootstrap-editable";

// And finally bootswatch style itself
@import "bootswatch/cerulean/bootswatch";

//
// import custom scss, content to be set in deployment.
//
@import "tail";
