.twitter {
  position: relative;
}

.twitter_header {
  font-size: 16px;
  text-align: left;
  margin-bottom: 55px;
  padding: 10px 8px;
}

.twitter_id {
  position: absolute;
}

.twitter_image_frame {
  display: block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  // background-image: url(/Avatar_Pic.png);
  }

.twitter_image_frame > img {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 30;
  width: 100%;
  margin: auto;
  }

.twitter_name {
  padding-left: 55px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
}

// Body = displays tweets
.twitter_list {
  box-sizing: border-box;
}

.tweet {
  border-top-style: solid;
  border-color: lightgrey;
  padding: 10px 8px;
}

.tweet_text {
box-sizing: border-box;
}

.tweet_text_date {
  text-align: right;
  padding-top: 4px;
  font-size: 12px ;
}

.twitter_footer {
  border-top-style: solid;
  border-color: lightgrey;
  padding: 10px 8px;
  font-style: italic;
  font-size: 12px;
}
