.home-buttons
  .row.first
    .col-md-2
    .download.col-md-8
      = btn client_download_url, type: [:large, :primary] do
        = big_icon('download')
        = t(:download_bitmask)
    .col-md-2
