.home-buttons
  .row-fluid.first
    .span2
    .download.span8
      = link_to client_download_url, class: "btn btn-large btn-primary" do
        = big_icon('download')
        = t(:download_client)
    .span2
