-#
-# A very simple navigation link. It takes a symbol, uses it for the
-# translation, path and determining if the link is active.
-#
-# For something more complex use link_to_navigation directly instead.
-#
- item = navigation_item.to_s
= link_to_navigation ".#{item}", polymorphic_url(item),
  active: controller?(item)
