- if admin?
  %ul.nav.nav-tabs
    = render partial: 'common/navigation_item', collection: [:users, :identities, :tickets]
    %li
      = link_to t(:logout), logout_path, :method => :delete
- if @user && @show_navigation
  .lead
    = @user.email_address
