- # style is super ugly but just for now
%div{:style => "border: solid 1px"}
  - if User.find(comment.posted_by)
    Posted by
    = User.find(comment.posted_by).login 
    %p
  Posted at
  = comment.posted_at
  %p
  = comment.body
  %p