- # style is super ugly but just for now
%tr
  %td
    - if commenter = User.find(comment.posted_by)
      %b
        = 'Posted by' + (commenter.is_admin? ? ' admin' : '') + ':'
      = commenter.login
    - else
      %b
        Unauthenticated post
    .pull-right
      %b
        Posted at:
      = comment.posted_at.to_s(:short)
    %br
    = comment.body
