- if admin?
  = render 'tickets/admin-nav'

= render 'tickets/table-nav'

%table.table-striped.table-bordered.table-hover
  //{:style => "width:100%;"}
  %tbody
    = render @tickets.all
= paginate @tickets


